* {
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png");
}

@font-face {
  font-family: 'Digital-7';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/184191/Digital-7.svg#Digital-7");
}
.Simon {
  margin: 100px auto;
  display: flex;
  width: 550px;
  height: 550px;
  border-radius: 100%;
  background: #333;
  flex-wrap: wrap;
}

.Colors {
  display: flex;
  flex-wrap: wrap;
}

.Green {
  background: green;
  border-top-left-radius: 100%;
  margin: auto;
  width: 240px;
  height: 240px;
  padding: 10px;
  border: 7.5px solid #333;
}

.Red {
  background: Red;
  border-top-right-radius: 100%;
  margin: auto;
  width: 240px;
  height: 240px;
  padding: 10px;
  border: 7.5px solid #333;
}

.Yellow {
  background: Yellow;
  border-bottom-left-radius: 100%;
  margin: auto;
  width: 240px;
  height: 240px;
  padding: 10px;
  border: 7.5px solid #333;
}

.Blue {
  background: blue;
  border-bottom-right-radius: 100%;
  margin: auto;
  width: 240px;
  height: 240px;
  padding: 10px;
  border: 7.5px solid #333;
}

.ControlPanel {
  position: absolute;
  border-radius: 100%;
  margin: 165px 0 0 165px;
  background: Gray;
  width: 200px;
  height: 200px;
  border: 12px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

img {
  margin-top: 40px;
  background: Gray;
  border-radius: 15px;
}

.Display {
  background: Gray;
  display: flex;
}

.Counter {
  background: black;
  border: 2px solid red;
  width: 70px;
  height: 60px;
  Margin-right: 5px;
  font-size: 75px;
  color: red;
  text-align: center;
  font-family: "Digital-7";
}

.Buttons {
  background: Gray;
  display: Flex;
  flex-direction: column;
  justify-content: end;
}

button {
  background: #d3d3d3;
  border-radius: 100%;
  border: 2px solid #333;
  padding: 10px;
  width: 20px;
  height: 10px;
  box-shadow: 0 3px #999;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.top, .bottom {
  background: Gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

p {
  background: Gray;
  margin-left: 2px;
  font-family: sans-serif;
}

